# Environment & secrets
.env

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache/

# OS files
.DS_Store
Thumbs.db

# Test/eval output
*.log